@use 'global';

@mixin button($color: global.$button_color) {
        height: $heigth_bar;
        font-family: 'Roboto',sans-serif;
        background-color: $color;
        
}


header{
    width: 96vw;
    height: 6vh;
    left: 4vw;

    position: relative;
    overflow: hidden;
    padding-top: 0.5vh;
    padding-right: 1vw;
    background-color: global.$foregrd_color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    flex-grow: 0;
    border-bottom: 2px;
    border-bottom-color: global.$ligther_color;
    border-bottom-style: solid;
    svg{
        padding-left: 0.5vw;
        
        width: 5vw;
        height: fit-content;
    }
    #youtube-paths{
        path{
            fill: #fff;
        }
    }
    
}

.logo-menu{
    display: flex;
    align-items: center;
    padding-left: 0.5vw;

}

.pp{
    width: 45px;
    height: 45px;
    border-radius: 40px;
}

.user-button{
    display: flex;
    padding-bottom: 1vh;

    *{
        margin-right: 30px;
    }
}


$heigth_bar: 4vh;

.search-bar{
    display: flex;
    
    width:33vw;

    form{
        width: 33vw;
    }

    

    .search-b{
        all:unset;
        @include button();
        width:3vw;
        @include global.center_div();
        border-width: 1px;
        border-color: global.$ligther_color;
        border-style: solid;
        
    }
    .search-bar-button{
        display: flex;
        align-items: center;
        
    }

    .search{
        
        width:25vw;
        height: $heigth_bar;
        background-color: global.$darker_color;
        border-width: 1px;
        border-color: global.$ligther_color;
        border-style: solid;
        display: flex;
        justify-content: left;
        input{
            all:unset;
            padding-left: 1em;
            color:#fff;
            font-family: 'Roboto', sans-serif;
        }
    }

    .oral-b{
        all:unset;
        @include button($color:global.$backgrd_color);
        width:2vw;
        border-radius: 30px;
        margin-left: 1em;
        @include global.center_div()
        
    }
    
}
